{% extends './base.html' %} {% block title %} Index {% endblock %} {% block body %}
<div class="row">
    <div class="col-md-12 offset-md-0">
        <br>
        <h4>
            <center><b>DATOS NUTRISCORE</b></center>
        </h4><br>

        <center>
            <form class="" action="data" method="post" enctype="multipart/form-data">
                <input type="file" name="csvfile" value="" class="btn btn-outline-danger">
                <input type="submit" name="" value="Calcular" class="btn btn-outline-success">
            </form>
            <br>
            <br>
            <form class="" action="formato-nutriscore" method="post" enctype="multipart/form-data">
                <input type="submit" name="" value="Descargar Formato Nutriscore" class="btn btn-outline-success">
            </form>
        </center>
        <script>
            alert("Para realizar un nuevo cálculo de Nutriscore, oprima el botón 'Seleccionar Archivo' y posteriormente el botón 'Calcular'. Debe cargar una hoja de cálculo (.xlsx) siguiendo el formato que puede descargar con el botón 'Descargar Formato Nutriscore'.");
        </script>
        {% endblock %}